<table class="clerk-design-component-Y5uOlTsm"  cellpading="0"  cellspacing="0"  border="0"  align="center"  > <tr > <td > <img class="clerk-design-component-aWI21dHI"  src="https://i.postimg.cc/26LFHmhF/logo-horizontal-color-2000.jpg"  > </img> <table border="0"  cellpading="0"  cellspacing="0"  width="90%"  align="center"  > <tr > <td > <h2 id="tHU7GMRK"  class="clerk-design-component-tHU7GMRK"  >  </h2> </td> </tr> </table> <div id="xLR9oixy"  class="@clerk-design-product-name clerk-design-component-xLR9oixy"  > Sembra che tu abbia dimenticato qualcosa nel carrello... </div> <table border="0"  cellpading="0"  cellspacing="0"  width="90%"  align="center"  > <tr > <td > <h2 id="OPDiZRjJ"  class="clerk-design-component-OPDiZRjJ"  >  </h2> </td> </tr> </table> {% for product in products %} {% if loop.first %} <table cellpading="0"  cellspacing="0"  border="0"  align="center"  class="clerk-design-component-GazEVPfv"  > <tr > <td>
<div class="clerk-design-component-EW5DlDAE"> 
  <img class="clerk-design-component-h67l6gS0" src="{{product.image}}">  
</div>
</td> <td>
<div class="clerk-design-component-cPnuQYDM"> 
  <div id="4qlp8ctV" class="undefined clerk-design-component-4qlp8ctV"> {{product.name}} </div> 
  <div id="H6OMtMsr" class="undefined clerk-design-component-H6OMtMsr"> {{product.description}} </div> 

  <div class="clerk-design-component-gnVSiTTr"> {% if product.price < product.list_price %} 
  
    <div class="clerk-design-component-sJcFTQfH"> 
    
      <div class="undefined clerk-design-component-xOyKENJR" id="xOyKENJR"> {{ product.list_price | money_eu }} </div> 
  
    </div> {%endif%} {% if product.price %} 
  
    <div class="clerk-design-component-6NNJ2Zzc"> 
    
      <div class="clerk-design-product-price clerk-design-component-0k7Kr1I5" id="0k7Kr1I5"> € {{ product.price | money_eu }} </div> 
  
    </div> {%endif%} 

  </div>
 
  <div id="J59BooZw" class="undefined clerk-design-component-J59BooZw" href="{{product.url}}"> Acquista </div> 
</div>
</td> </tr> </table> {%endif%} {% endfor %} <table border="0"  cellpading="0"  cellspacing="0"  width="90%"  align="center"  > <tr > <td > <h2 id="xv9R7Of7"  class="clerk-design-component-xv9R7Of7"  >  </h2> </td> </tr> </table> <div id="esoqfLcU"  class="@clerk-design-product-name clerk-design-component-esoqfLcU"  > Potrebbe interessarti... </div> <table border="0"  cellpading="0"  cellspacing="0"  width="90%"  align="center"  > <tr > <td > <h2 id="orZUc0c2"  class="clerk-design-component-orZUc0c2"  >  </h2> </td> </tr> </table> <table class="clerk-design-component-fk84lWBT"  cellpading="0"  cellspacing="0"  border="0"  align="center"  > <tr > <td > 
<div class="clerk-design-component-5m17ZnbF"> {% for product in products %} {% if not loop.first %} 
  <div class="clerk-design-component-76CbwXCL clerk-instant-search-key-selectable "> 
    <a style="border-bottom:none;display:inherit;width:100%;text-decoration:none;color:inherit;" href="{{ product.undefined }}"> 
      <div style="display:inherit;width:100%;"> </div> 
      <img class="clerk-design-component-NjE3WuCy" src="{{product.image}}">  
      <div id="Di74IpwH" class="clerk-design-product-name clerk-design-component-Di74IpwH"> {{product.name}} </div> {% if product.price%} 
      <div class="clerk-design-product-price clerk-design-component-c2zLEuGX" id="c2zLEuGX"> € {{ product.price | money_eu }} </div> {%endif%} 

      <div class="clerk-design-component-FaRIPmis"> {% if product.price < product.list_price %} 
  
        <div class="clerk-design-component-CKQ6rXHu"> 
    
          <div class="undefined clerk-design-component-PrTfYxJG" id="PrTfYxJG"> {{ product.list_price | money_eu }} </div> 
  
        </div> {%endif%} {% if price %} 
  
        <div class="clerk-design-component-RRN5dkV1"> 
    
          <div class="clerk-design-product-price clerk-design-component-LwVnIl3u" id="LwVnIl3u"> {{ product.price | money_eu }} </div> 
  
        </div> {%endif%} 

      </div>
 
      <div id="i449Vlp0" class="undefined clerk-design-component-i449Vlp0" href="{{product.url}}"> Acquista </div> 
    </a> 
  </div> {%endif%} {% endfor %} 
</div>
 </td> </tr> </table> <table border="0"  cellpading="0"  cellspacing="0"  width="90%"  align="center"  > <tr > <td > <h2 id="L6TjhyQJ"  class="clerk-design-component-L6TjhyQJ"  >  </h2> </td> </tr> </table> <div id="llV0oaVl"  class="@clerk-design-product-name clerk-design-component-llV0oaVl"  > Copyright © 2021 Ausilium S.r.l. </div> <table border="0"  cellpading="0"  cellspacing="0"  width="90%"  align="center"  > <tr > <td > <h2 id="DPehsTLs"  class="clerk-design-component-DPehsTLs"  > {{product.}} </h2> </td> </tr> </table> <div id="fcefBWel"  class="@clerk-design-product-name clerk-design-component-fcefBWel"  > Ausilium S.r.l. </div> <div id="dQ2pekmb"  class="@clerk-design-product-name clerk-design-component-dQ2pekmb"  > Sede legale: Via Principe Tommaso 36 | 10125, Torino (TO) | Italy </div> <div id="vqtbIQ6K"  class="@clerk-design-product-name clerk-design-component-vqtbIQ6K"  > Sede operativa: Via Monginevro 2a | 10092, Beinasco (TO) | Italy </div> <div id="hMnj5HN8"  class="@clerk-design-product-name clerk-design-component-hMnj5HN8"  > Assistenza Clienti: +39 011 196 20 906 | info@ausilium.it </div> <table class="clerk-design-component-glSls6gD"  cellpading="0"  cellspacing="0"  border="0"  align="center"  > <tr > <td > 
<div class="clerk-design-component-KEJKjH8j"> 
  <div id="c4AxTsnq" class="undefined clerk-design-component-c4AxTsnq"> Ricevi questa email perché hai dato il consenso a ricevere le nostre mail. Se non vuoi più ricevere queste email, puoi aggiornare le tue preferenze o cancellarti. </div> 
</div>
 </td> </tr> </table> <a href="unsubscribe.com/{{customer.email}}"  id="iBF2ROE6"  class="undefined clerk-design-component-iBF2ROE6"  > Disiscriviti </a> </td> </tr> </table>